APP_NAME="OSSZ Collections"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://osszcollection.com

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=ep-shiny-smoke-asvvjgmv-pooler.c-4.eu-central-1.aws.neon.tech
DB_PORT=5432
DB_DATABASE=la%20maison%20bibi
DB_USERNAME=neondb_owner
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=database

GEMINI_API_KEY=
GEMINI_API_KEY2=

WHATSAPP_NUMBER=+237694068219
CONTACT_EMAIL=info@osszcollection.com
